.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.02);
}

.EditButton {
    display: inline-block;
    align-items: flex-end;
    justify-content: right;
    float: right;
    padding: 5px 20px;
}
