/*buttons*/
.button {
  background-color: #d7e16c;
  font-family: Verdana;
  font-weight: 700;
  color: white;
  border-style: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.button:hover {
  background-color: #e0e88e;
  color: white;
}

.button:disabled {
  background-color: #7e7e7f;
}

.logout-button {
  background-color: #282829;
  height: 100%;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}
.logout-button:hover {
  background-color: #7e7e7f;
}

.nav-button {
  font-family: Verdana;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  background-color: white;
  color: #282829;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.nav-button:hover {
  background-color: #7e7e7f;
  color: white !important;
}

.nav-avatar {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.card-header-button {
  /*background-color: #943a7a;*/
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/*.card-header-button:hover {
  background-color: white;
  color: #943a7a;
}*/

.tag-button {
  background-color: #a9a8a8;
  color: white;
  margin: 4px;
}
.tag-button:disabled {
  background-color: #a9a8a8;
}

.pillar-button {
  background-color: #d7e16c;
  color: white;
  margin: 4px;
  display: flex;
}

.pillar-button:hover {
  background-color: #d7e16c;
}

.pillar-button-unselected {
  background-color: #a9a8a8;
  color: white;
  margin: 4px;
  display: flex;
}

.pillar-button-unselected:hover {
  background-color: #a9a8a8;
}

.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
}

.round-button:hover {
  background-color: #943a7a;
}

.url-list-item {
  background-color: #943a7a;
  color: white;
  padding: 4px;
  margin: 4px;
}

.url-link {
  color: white;
}

.url-link:hover {
  color: white;
  font-weight: 700;
}

.url-header-button {
  background-color: #943a7a;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.url-header-button:hover {
  background-color: white;
  color: #943a7a;
}

/*radio-buttons*/

.project-select {
  margin-top: 8px;
  margin-bottom: 8px;
}

:root {
  --form-control-color: #943a7a;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.radio-label-column {
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.radio-label {
  font-family: Verdana;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.1;
  display: flex;
  flex-direction: row;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  border: none;
  margin: 8px;
  margin-right: 16px;
}

.radio-label + .radio-label {
  margin-top: 1em;
}

.radio-label:focus-within {
  color: black;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid !important;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

/*cards*/
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.card {
  font-family: Verdana;
}

.card-header {
  font-weight: 700;
  color: white;
  background-color: #943a7a;
  margin: 0px;
}

.card-header-default {
  color: white;
  background-color: #943a7a;
}

.card-title-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 0px;
}

.card-title {
  display: flex;
  margin-bottom: 0px;
}
.card-project-title {
  display: flex;
}

.card-header-button-container {
  display: inline-flex;
  justify-content: right;
  float: right;
}

.card-body {
}

.card-footer {
  background-color: white !important;
  margin: 0px;
}

.card-footer-text-container {
  display: inline-flex;
  justify-content: left;
  margin-bottom: 6px;
}

.card-footer-button-container {
  display: inline-flex;
  justify-content: right;
  float: right;
}

.card-footer-text {
  margin: 0px;
}

/* Error messaging */
.error-card {
  background-color: #dc3e38 !important;
}

.error-text {
  color: white;
}

.error-btn {
  background-color: #dc3e38;
  color: white;
  font-size: 1rem;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.error-btn:hover {
  color: #dc3e38;
  background-color: white;
}

.error-heading {
  display: flex;
  flex-direction: row;
}

.alert-primary {
  background-image: none;
}

.container-fluid {
  justify-content: flex-start;
}

/*header + footer*/
.header {
  background-color: white;
}
.header-logo {
  min-width: 254px;
}

.footer {
  background-color: #272725;
  color: white;
}

.whitefooter {
  background-color: white;
}

/*Report Page*/
#report {
  margin: 2.54cm;
}

.report-card {
  width: 21cm;
  min-width: 21cm !important;
  min-height: 29.7cm;
}

/*Color Picker*/
.color-option {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.color-option-box {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin-right: 8px;
}

.files-list {
  margin-bottom: 8px;
}
